@charset "windows-1255";




.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#003366;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 20px 8px 20px 16px;
    text-decoration: none;
    font-size:  1.5em;
    color:black;
    display: block;
}

.sidenav a:hover {
    color: white;
}.sidenav a:checked {
    color: white;
}


.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 15px; /* Increased text to enable scrolling */
    padding: 0px 20px;
   background-image: url(../p.jpg) no-repeat left top;
}



table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}